.tag_select {
   font-size: 11px;
   width: 500px;
}

@media screen and (max-width: 700px) {
   .tag_select {
      width: 80%;
   }
}

.tag_select.select2-container .select2-search-choice {
   border: none;
   background: none;
   box-shadow: none;
   margin: 4px 1px;
   padding: 4px 0 3px 18px;
}

#mainformtable .tag_select.select2-container .select2-choices {
   background-image: none;
   border: 1px solid #D3D3D3;
   border-radius: 4px;
   box-shadow: none;
}

#mainformtable .tag_select.select2-dropdown-open .select2-choices {
   border-bottom-color: transparent;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.tag_select.select2-container .select2-search-choice-close {
   color: #000;
}

.tag_choice {
   padding: 3px 4px 6px 2px;
   border-radius: 3px;
}

.select2-choices.no-negative-margin .tag_choice {
   display: inline-block;
   padding-right: 5px;
   margin: 1px;
}

.select2-choices:not(.no-negative-margin) .tag_choice {
   margin-left: -18px;
   padding-left: 18px;
}

.select2-results .tag_choice {
   padding: 2px 4px;
}

.tag_select_results .select2-highlighted {
   color: inherit;
}
