parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    paths:
        - ajax
        - inc
        - stubs
        - tests
        - hook.php
        - setup.php
    scanDirectories:
        - ../../src
        - ../../tests
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
