parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
    paths:
        - ajax
        - front
        - inc
        - hook.php
        - setup.php
    excludePaths:
        - inc/taginjection.class.php
    scanDirectories:
        - ../../inc
        - ../../src
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule
